<div class="dashboard">
    <div class="navbar">
        <div class="session-one">
            <div class="logo">
                <span>AM</span>
                <input placeholder="Search here" type="text">
            </div>
            <div class="divider"></div>
            <ul class="list">
                <li [routerLink]="['main']"><span class="material-symbols-outlined">dashboard</span> <span>Dashboard</span></li>
                <li [routerLink]="['analysis']"><span class="material-symbols-outlined">show_chart</span> <span>Analysis</span></li>
            </ul>
        </div>
        <div class="session-two">
            <div class="user-setting">
                <div class="divider"></div>
                <ul class="list">
                    <li [routerLink]="['settings']"><span class="material-symbols-outlined">settings</span> <span>Settings</span></li>
                    <li [routerLink]="['notifications']"><span class="material-symbols-outlined">notifications</span> <span>Notification</span></li>
                </ul>
            </div>
            <div class="user-data">
                <span class="abbreviation">JM</span>
                <div class="details">
                    <h5>John Mark</h5>
                    <span>{{"johnmark@gmail.com"}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="activities">
        <router-outlet></router-outlet>
    </div>
</div>